.addBtn {
  display: flex;
  justify-content: center;
  margin: 10px auto 10px;
  width: 200px;
  padding: 5px 25px;
}
.deleteBtn {
  display: block;
  padding: 10px;
  background-color: #ffffff;
  border-width: 1px;
  border-radius: 10px;
  opacity: 0.6;
}
.deleteBtn:hover {
  opacity: 1;
  cursor: pointer;
}